/**
* Map Functions
* map-get($map, $key)
* Ref: https://sass-lang.com/documentation/functions/map#map-get
*/

$colors: (
  primary: #005dff,
  accent: #fff6bb
);

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 30px 50px;

  // Using map-get($map, $key) here
  // to return the value in $colors map associated with $key.
  background-color: map-get($colors, primary);
  color: map-get($colors, accent);
}
